openHiTLS accepts a certificate whose serial number is zero

 openHiTLS accepts a certificate whose serial number is zero which is forbidden by RFC 5280 and its errata. The certificate should be rejected according to Sec. 4.1.2.2 in RFC 5280 "The serial number MUST be a positive integer assigned by the CA to each certificate" and the errata https://github.com/openssl/openssl/pull/3200 "The serial number MUST be a positive non-zero integer assigned by the CA to each certificate".

To Reproduce：
hitls verify -CAfile ca.pem seed.pem

Expected behavior：
Verification failed.

Actual results：

<img width="724" height="82" alt="Image" src="https://github.com/user-attachments/assets/a42c5957-119f-4a65-885a-0f8a8c4b37e0" />

[test.zip](https://github.com/user-attachments/files/30005894/test.zip)

RFC 5280 requires CAs to assign positive integer serial numbers but also requires certificate consumers to "gracefully handle" negative or zero serial numbers; it does not explicitly mandate that validators must reject them.
https://www.rfc-editor.org/info/rfc5280/#section-4.1.2.2
```
Note: Non-conforming CAs may issue certificates with serial numbers
   that are negative or zero.  Certificate users SHOULD be prepared to
   gracefully handle such certificates.
```